{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X - UA - compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <br> {% endblock %}

    <br>{% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <br> {% endblock %}

    <br>{% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/0e7a9ae317.js" crossorigin="anonymous"></script>
    <br> {% endblock %}

    <title>Sammy Simmons Design!</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <div id="top-nav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <a href="{% url 'home' %}" class="nav-link main-logo-link" <img src="../media/Logo_SJ-02.png" class="nav-logo" alt="Sammy Simmons"></a>
            </div>
            <div class=" col-12 col-lg-4 my-auto py-1 py-lg-0">Design Services</div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">How it works</div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">About</div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %} {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a> {% endif %}
                            <a href="" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a> {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a> {% endif %}
                        </div>
                    </li>
                    </div>
            </div>
    </header>

    {% if message %}
    <div></div>
    {% endif %}

    <br>{% block page_header %}
    <br>{% endblock %}

    <br>{% block content %}
    <br>{% endblock %}


    <br>{% block postloadjs %}
    <br>{% endblock %}

</body>

</html>