{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} {% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-8 offset-lg-2">
            <h1>Tell us about your project</h1>
            <br>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Name Your Project</label>
                    <input type="projectname" class="form-control" id="exampleFormControlInput1" placeholder="E.g Website for selling orange juice">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">What type of design do you need?</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select Category</option>
                        <option value="1">App Design</option>
                        <option value="2">Logo and Brand Identity</option>
                        <option value="3">Web Page Design and Build</option>
                        <option value="4">Website Design and Build</option>
                        <option value="5">Billboards</option>
                        <option value="6">Illustrations</option>
                        <option value="7">Packaging Design</option>
                        <option value="8">Garment Design Tech</option>
                        <option value="9">Email Design and Build</option>
                        <option value="10">Product Labels</option>
                        <option value="11">Books and Booklets</option>
                        <option value="12">Instore Window & Displays</option>
                        </select>
                </div>
                <br>
                <div class="form-group">
                    <label for="validationTextarea" class="form-label">Describe your project</label>
                    <textarea class="form-control" id="validationTextarea" style="height: 150px" placeholder="E.g I need a website for selling orange juice, it should feature a retro and vibrant design. I would also like to discuss packaging designs as i would like to refresh my product line."></textarea>
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlInput1">How will your design be used?</label>
                    <input type="projectname" class="form-control" id="exampleFormControlInput1" placeholder="E.g Bookcover, Facebook, Snapchat etc.">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Link to any inspiration on the web</label>
                    <input type="projectname" class="form-control" id="exampleFormControlInput1" placeholder="www.pinterest.co.uk/samdesign/">
                </div>
                <br>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">What your Deadline?</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>I can confirm whether your deadline date can be met based on project scope and availability</option>
                        <option value="1">48 hours</option>
                        <option value="2">1 week</option>
                        <option value="3">2 weeks</option>
                        <option value="4">1 month</option>
                        <option value="5">Not sure I'd like a chat</option>
                        </select>
                </div>
                <br>

                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden" for="inlineFormInput">Budget</label>
                        <div class="input-group">
                            <div class="input-group-text">£</div>
                            <input type="text" class="form-control" id="inlineFormInput" placeholder="Budget">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                            <label class="form-check-label" for="inlineFormCheck">
                          Unlimited
                        </label>
                        </div>
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
        </div>
    </div>
    </form>
</div>
</div>
{% endblock %}